
            <div class="page-wrapper" style="margin-left:0px;">
			
            <div class="content container-fluid">
            
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <h3 class="page-title">Weathericons</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                <li class="breadcrumb-item active">Weathericons</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">Add WeatherIcon</h4>
                            </div>
                            <div class="card-body">
                            <%= render 'form', weathericon: @weathericon %>
                            </div>
                        </div>
                    
                    </div>
                </div>
            
            </div>			
        </div>
        <!-- /Main Wrapper -->